body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

.search-container {
    margin: 20px;
}
#refresh-btn{
    color: red;
    background-color: antiquewhite;
    display: block;
}
.Error{
 display: none;
 
 color: red;
}

#loading {
    display: none;
    color: grey;
}


input[type="text"] {
    width: 60%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#weather-info {
    margin-top: 20px;
}
